<html>
    <head>
        <title>Editar</title>
    </head>
    <body>

        <p>Lo recolectado:</p>
        {% for lol in task %}

            <form action="{% url 'eliminar' id=lol.id %}" method="post">{% csrf_token %}

                    Titulo: <input type="text" name="titulo" placeholder="{{ lol.titulo }}"><br><br>
                    Descripcion: <textarea name="Des" placeholder="{{ lol.descripcion }}"></textarea><br><br>
                    Fecha:{{ lol.fecha_vencimiento }} 
                    <input type="date" name="Date"><br><br>

                    Completado: <input type="checkbox" name="tr"><br><br>

                    <button type="submit" name="del" value="1">Eliminar</button><br><br>

                    <button type="submit">Cambios</button>
            </form>

        {% endfor %}

        <!--

        <form action="/editar/" method="post">{% csrf_token %}

            <input type="hidden" name="form2">

            <p>ID:</p>
            <input type="text" name="id_">

            <p>Editar titulo:</p>
            <input type="text" name="edit_titulo">

            <input type="checkbox" name="true">

        </form>
        -->
        <a href="{% url 'inicio' %}">Regresar</a>
    </body>
</html>