# Django .gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Django specific
*.sqlite3  # Aunque uses PostgreSQL, ignora SQLite por si aparece
db.sqlite3
/media/
 /staticfiles/

# Logs
*.log

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Environment variables
.env  # Excluir archivo de configuración sensible

# Compiled static files
/static/

/migrations/__pycache__/
/migrations/*.pyc

# Database backups
*.sql
*.dump
